/* page.module.css */

.section {
    background-color: #f9f9f9d8;
    padding: 20px;
    color: #000;
    padding-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
    
}

.title {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.loader {
    display: block;
    margin: 0 auto;
    color: #666;
    font-size: 2rem;
}
.Cart {
    /* border: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 80px;
    
}

.orderDetails {
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.299);
    padding: 20px;
    margin-bottom: 25px;
}



.productDetails {
    background-color: #f3f4f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.299);
    border-radius: 8px;
    padding: 20px;
}

.productName {
    color: #222;
    font-size: 1.75rem;
    font-weight: bold;
}

.status {
    color: #10b981;
    font-weight: 500;
}
.statuscon {
    display: flex;
    align-items: center;
    padding: 6px;
}
